/* No borders and such. 
 * Got the following from here:
 *     http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* Eliminates white border appearing at bottom of "body" due to height
 * calculation of embeded canvas (errors?)
 */
body {
    background-color: #000000;
}

#directions {
    width: 100%;
    color: #808080;
    text-align: right;
    position: absolute;
    font-size: small;
    font-family: "Lucida Console";
    top: 10px;
    right: 10px;
}

strong {
    color: cyan
}
